.overlay-container {
    position: absolute;
    width: 100vw;
    height: 0;
}

.building-sprite {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.collect-number{
    font-size: 12px;
}
.collect-btn{
    background-color: transparent;
    border: 0;
    color: beige;
    text-shadow: 2px 2px black;
    margin-top: 0rem;
    background-image: url("../../../../public/images/ui/xpbar.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding-bottom: 1rem;
    width: 80px;
    height: 40px;
}
.collect-icon{
    width: 32px;
    image-rendering: pixelated;
}

.building-sprite .popover-body {
    padding: 0 !important;
}
  
.building-sprite .popover{
    background-color: transparent !important;
}

.building-sprite .popover-arrow {visibility:hidden;}