@import url('https://fonts.googleapis.com/css2?family=Frijole&family=Permanent+Marker&family=Press+Start+2P&family=Rubik+Dirt&display=swap');

/*
font-family: 'Frijole', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Press Start 2P', cursive;
font-family: 'Rubik Dirt', cursive;
*/

.layout {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.hudTop {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
}

.items {
    width: 200px;
    position: relative;
    image-rendering:auto;
}

.itemsText {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% / 3 * 2);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.items h4 {
    margin-top: 5px;
    color: white;
}

.items img {
    width: 100%;
    height: auto;
}

.hudLeft {
    width: 200px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    image-rendering:auto;
}

.musicContent{
    position: fixed;
    bottom:0px;
    right: 0px;
}

.musicOn{
    background-image: url('../../../public/images/ui/music_on.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: auto;
    border: none;
    background-color: transparent;
}

.musicOff{
    background-image: url('../../../public/images/ui/music_off.png');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: auto;
    border: none;
    background-color: transparent;
}
nav {
    display: flex;
    flex-wrap: wrap;
}

nav img{
    width: 100px;
}

nav button {
    background-color: transparent;
    border: none;
    padding: 0;
}

.notificationIcon {
    width: 100px;
    height: 100px;
    position: relative;
}

.notificationIcon img:first-child {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.notificationIcon img:nth-child(2) {
    width: 2rem;
    height: 2rem;
    z-index: 1;
    position: absolute;
    right: 0;
    top: 0;
} 

@media only screen and (max-height: 480px) {
    .hudLeft {
        width: 100px;
        margin-left: 0.5rem;
        margin-top: 0.3rem;
    }
    nav img{
        width: 50px;
        height: 50px;
    }

    .notificationIcon {
        width: 50px;
        height: 50px;
    }
    .notificationIcon img:nth-child(2) {
        width: 1rem;
        height: 1rem;
    }

    .items {
        width: 120px;
        position: relative;
    }
    .items h4 {
        margin-top: 5px;
        color: white;
        font-size: 16px;
    }
    .musicOn{
        width: 60px;
        height: 60px;
    }
    
    .musicOff{
        width: 60px;
        height: 60px;
    }
    
}