.expedition{
    color: aliceblue;
}

.expedition h2{
    font-size: 150%;
    text-align: center;
}

.edificult{
    padding-top: 1rem;
    justify-content: space-between;
    text-align: center;
}

.ecard-text{
    font-size: 140%;
    margin-top: 2rem;
    max-width: max-content;
}

.ecard-img-fluid{
  width: 14vw;
  margin-bottom: 2rem;
}

.exp-cont-bg{
    background-color: rgba(0, 0, 0, 0.452);
    border: dashed 2px rgb(155, 98, 13);
    border-radius: 10px;
    padding: 10px;
    margin: 0.5rem;
    width: 100%;
}

.expedition-btn{
    background-image: url("../../../public/images/ui/btn_bg_2.png");
    width: 200px;
    height: 75px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: beige;
    text-shadow: 2px 2px black;
    padding: 0 6;
    font-size: 120%;
}
.exp-message-container{
    background-color: rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    border: 2px dashed rgb(156, 104, 37);
    width: 100%;
    height: auto;
    overflow: auto;
    text-align: justify;
    padding: 10px;
}



.modal-exp-btn{
    background-image: url("../../../public/images/ui/btn_bg_2.png");
    width: 200px;
    height: 70px;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: aliceblue;
    text-shadow: 2px 2px black;
}
.modal-exp-container{
    background-image: url("../../../public/images/ui/contentbg2.png");
    background-repeat: repeat;
    background-size: cover;
    background-color: rgba(0, 136, 255, 0);
    color: aliceblue;
    padding: 10px;

}

@media only screen and (max-height: 480px) {
    .ecard-text{
        font-size: 100%;
        margin-top: 1rem;
    }
    .ecard-img-fluid{
        width: 20vw;
        margin-bottom: 1rem;
    }
      .exp-cont-bg{
        padding: 10px;
    }
    .expedition h2{
        font-size: 120%;
        text-align: center;
    }
}